<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This Site is created by @Sazzad. It uses data from <a href="https://mapbox.com">mapbox.com</a> and the <a href="http://weatherstack.com/">weatherstack.com</a>! </p>
    <img class="portrait" src="img/me.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>